// Styles overriding general theme colors
// for dark theming

@media (prefers-color-scheme: dark) {
    body,
    strong,
    p,
    .card,
    .title,
    .commento-root *,
    .commento-footer,
    .commento-logo-container,
    .commento-logo-text,
    #commento-textarea-super-container-root b,
    #commento-textarea-super-container-root a {
        color: $white !important;
    }

    a {
        color: $link !important;

        &:hover {
            color: $white !important;
        }
    }

    .commento-email-button {
        border-left: 0px !important;
    }

    .commento-email,
    .commento-email *,
    html,
    body {
        background-color: $scheme-invert-ter !important;
    }

    .commento-root .commento-card {
        border-top: 1px solid $dark !important;
    }

    .commento-login-box-container,
    .commento-login-box {
        background-color: $black !important;
    }

    .commento-root .commento-card .commento-option-button {
        background: $white !important;
    }

    code,
    .card,
    .commento-textarea-container,
    .commento-root textarea {
        background-color: $dark !important;
    }

    .footer-links {
        a:after {
            color: $white;
        }
    }
}
