// Mobile version of the sidebar

.referral a {
    color: $dark;
}

@media (max-width: 680px) {
    .referral a {
        display: flex;
        height: 100px;
        .referral__logo {
            margin-right: 1em;

            svg {
                height: 100px;
                padding-left: 15px;
                padding-right: 15px;
            }
        }
    }
}